/*Code by Vrok Kronos (07/06/21)*/
@font-face {
	font-family: rock-font;
	src: url(./fonts/Stone-block.otf);
	font-weight: bold;
}

@font-face {
	font-family: paper-font;
	src: url(./fonts/KGPrimaryPenmanshipLined.ttf);
}

@font-face {
	font-family: scis-font;
	src: url(./fonts/Scizzors-oVyV.ttf);
}

#rock {
	font-family: rock-font;
	background-color: darkgrey;
}

#paper {
	font-family: paper-font;
	background-color: ivory;
}

#scissors {
	font-family: scis-font;
	background-color: lightgrey;
}

.rock {
	font-family: rock-font;
}

.paper {
	font-family: paper-font;
}

.scissors {
	font-family: scis-font;
}

body {
	background-color: whitesmoke;
}

h1 {
	margin: 10px auto;
	text-align: center;
	display: inline;
}

@media screen and (max-width: 400px) {

	#pageTitle {
		margin: 10px auto;
		text-align: center;
		font-size: calc(24px + 6vw);
	}

	.hSelection {
		display: block;
		margin: 10px auto;
		font-size: calc(12px + 5vw);
	}
	
	button {
		height: calc(60px + 4vw);
		width: calc(100px + 14vw);
		border-radius: 8px;
		border-width: 4px;
	}
	
	p {
		margin: 15px auto;
		text-align: center;
		font-size: calc(12px + 1.5vw);
	}

}

@media screen and (min-width: 401px) {

	#pageTitle {
		margin: 10px auto;
		text-align: center;
		font-size: calc(32px + 6vw);
	}

	.hSelection {
		display: block;
		margin: 10px auto;
		font-size: calc(24px + 6vw);
	}

	button {
		height: calc(60px + 4vw);
		width: calc(280px + 14vw);
		border-radius: 8px;
		border-width: 4px;
	}
	
	p {
		margin: 15px auto;
		text-align: center;
		font-size: calc(16px + 1.5vw);
	}

}
