/*Code by Vrok Kronos (07/06/21)*/
@font-face {
	font-family: rock-font;
	src: url(./fonts/Stone-block.otf);
	font-weight: bold;
}

@font-face {
	font-family: paper-font;
	src: url(./fonts/KGPrimaryPenmanshipLined.ttf);
}

@font-face {
	font-family: scis-font;
	src: url(./fonts/Scizzors-oVyV.ttf);
}

#rock {
	font-family: rock-font;
}

#paper {
	font-family: paper-font;
}

#scissors {
	font-family: scis-font;
}

#pageTitle {
	margin: 10px auto;
	text-align: center;
	font-size: calc(32px + 6vw);
}

.rock {
	font-family: rock-font;
}

.paper {
	font-family: paper-font;
}

.scissors {
	font-family: scis-font;
}

.hSelection {
	display: block;
	margin: 10px auto;
	font-size: calc(24px + 6vw);
}

body {
	background-color: whitesmoke;
}

h1 {
	margin: 10px auto;
	text-align: center;
	display: inline;
}

p {
	margin: 15px auto;
	text-align: center;
	font-size: calc(16px + 2vw);
}

button {
	height: calc(48px + 4vw);
	width: 40vw;
}